<?xml version="1.0" encoding="utf-8" ?>
<client>
  <endpoint address="http://preproduction.newcropaccounts.com/V7/WebServices/Update1.asmx" binding="customBinding" bindingConfiguration="NewCropCustomBinding" contract="IUpdate1Soap" name="Update1Soap12" />
  <endpoint binding="customBinding" bindingConfiguration="ReportingService2005Soap11" contract="ReportingService2005Soap" name="ReportingService2005Soap11" />
  <endpoint address="http://identityserver.rem.local/IdSrv-Demo/MembershipService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMembershipService" contract="Thinktecture.IdentityServer.WebService.IMembershipService" name="IdentityServerMembershipService" />


  <endpoint address="http://notrem.feisystems.com/NiemAdapter.Web/Service/HealthQueryService.svc" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IMembershipService"
            contract="NIEMAdapter.IHealthQueryService" name="IHealthQueryService" />
</client>