<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="DatabaseServerName" value="remdb01.rem.local" />
  <add key="DatabaseCatalogName" value="RemDemoCore" />
  <add key="UseTrustedConnection" value="true" />
  <!-- Credentials used if UseTrustedConnection is false-->
  <add key="DatabaseUsername" value="sa" />
  <add key="DatabasePassword" value="****" />
  <!-- END of Credentials -->
  
  <add key="WebServiceCallPerformanceLimitInMilliseconds" value="200" />
  <add key="AgathaRequestHandlerPerformanceLimitInMilliseconds" value="100" />
  
  <add key="PopHealthServiceAddress" value="https://pophealth-demo.feisystems.com/records" />
  
  <add key="RavenDBUrl"  value="http://remdb01.rem.local:8080" />
  <add key="RavenDBRunInMemory" value="true" />

  <!-- Direct Project Settings -->
  <add key="SmtpServer" value="172.16.160.20" />
  <add key="SmtpPort" value="25" />
  <add key="SystemDirectAddress" value="system@direct.obhita-stage.org" />

  <add key="EmergencyAccessSecurityGroup" value="EmergencyAccess"/>  <!--  Active Directory Security Group used for granting Emergency Access Requests -->
  <add key="Environment" value ="newdemo"/>
  
  <!--  Active Directory Security Group used for granting the CAPABILITY of Requesting Emergency Access -->
  <add key="EmergencyAccessCapableSecurityGroup" value="EmergencyAccessCapable"/>
  
  <add key="FederationMetadataLocation" value="https://rem-demo1.feisystems.com/FederationMetadata/2007-06/FederationMetadata.xml" />

  <!-- Automatic application timeout/logout interval minutes. Warning: Value must be set a valid integer string. -->
  <add key="AutomaticLogoutIntervalMinutes" value="599" />

  <!-- Automatic application timeout/logout warning interval seconds. Warning: Value must be set a valid integer string. -->
  <add key="WarningLogoutIntervalSeconds" value="60" />

  <!-- Values used for MU AES Based Document Encryption story -->
  <add key="MeaningfulUseEncryptionKey" value="Vu1KBx8fFZCEttXZjLwTmMP4N34eOLiHoeWPW65UNSQ="/>
  <add key="MeaningfulUseEncryptionIV" value="Bqb3ngjohFSNUWR5ktpW/A=="/>

  <!-- NewCrop Configuration-->
  <add key="NewCropHttpEndPoint" value="http://preproduction.newcropaccounts.com/InterfaceV7/rxEntry.aspx"/>
  <add key="NewCropPartnerName" value="FEI"/>
  <add key="NewCropUserName" value="demo"/>
  <add key="NewCropPassword" value="demo"/>
  <add key="NewCropProductName" value="Fei REM"/>
  <add key="NewCropProductVersion" value="0.2"/>
  <!-- Instance specific information -->
  <add key="NewCropAccountID" value="REMDEMO"/>
  <add key="NewCropAccountName" value="FEI REM Demo"/>
  <!--END of NewCrop Configuration -->
  <add key ="C32XsltStylesheet" value="Styles\CDA.xsl"/>
  <!--SSRS-->
  <add key="ReportsRootUri" value="Rem.Reports/Demo"/>
  <add key="ReportExecutionUrl" value="https://remssrs01.rem.local/reportserver/ReportExecution2005.asmx"/>
  <add key="ReportServiceUrl" value="https://remssrs01.rem.local/reportserver/ReportService2005.asmx"/>

  <!-- Identity Server -->
  <!--In the ServiceMode Section fo the web.config, there should be an client endpoint named accordingly-->
  <add key="IdentityServerEndpointConfigurationName" value="IdentityServerMembershipService"/>
  <add key="IdentityProviderNameConfigName" value="OBHITA IdentityServer"/>
  <add key="IdentityProviderUriConfigName" value="uri:obhita.identityserver"/>

  <!-- DTS Server -->
  <add key="dtshost" value="remdts01.rem.local"/>
  <add key="dtsport" value="6666"/>
</appSettings>

