<?xml
  version="1.0"
  encoding="utf-8"?>

<appSettings>
  <add key="webpages:Version" value="1.0.0.0" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="RemWebApplicationAddress" value="https://localhost/Rem.Web/"/>

  <add key="AgathaServiceAddress" value="https://localhost/Rem.Web/Silverlight/Service/WcfRequestProcessor.svc" />
  <add key="EndpointConfigurationName" value="Agatha_IWcfRequestProcessor" />

  <!--Value used by the FederatedMetadata Handler -->
  <add key="Environment" value="dev" />

  <add key="FederationMetadataLocation" value="https://localhost/Rem.Web.LocalSTS/FederationMetadata/2007-06/FederationMetadata.xml" />
  
  <!-- Automatic application timeout/logout interval minutes. Warning: Value must be set a valid integer string. -->
  <add key="AutomaticLogoutIntervalMinutes" value="599" />

  <!-- Automatic application timeout/logout warning interval seconds. Warning: Value must be set a valid integer string. -->
  <add key="WarningLogoutIntervalSeconds" value="60" />

  <!-- Identity Server -->
  <!--In the ServiceMode Section fo the web.config, there should be an client endpoint named accordingly-->
  <add key="IdentityServerEndpointConfigurationName" value="IdentityServerMembershipService"/>
  <add key="IdentityProviderNameConfigName" value="OBHITA IdentityServer"/>
  <add key="IdentityProviderUriConfigName" value="uri:obhita.identityserver"/>
</appSettings>

