<microsoft.identityModel>
  <service>
      <claimsAuthenticationManager type="Rem.Infrastructure.Security.ClaimsAuthenticationManager, Rem.Infrastructure"/>
      <audienceUris>
        <add value="https://rem-qa.feisystems.com/" />
        <add value="https://remapp01.rem.local" />
        <add value="https://172.16.160.81/" />
        <add value="https://remapp02.rem.local/" />
        <add value="https://172.16.160.82/" />
      </audienceUris>
    <federatedAuthentication>
     
      <wsFederation passiveRedirectEnabled="true"
                     issuer="https://identityserver.rem.local/IdSrv-QA/issue/wsfed" reply=""
                     realm="https://rem-qa.feisystems.com/"
                    requireHttps="true"/>
      <cookieHandler requireSsl="true"/>
    </federatedAuthentication>
    <applicationService>
      <claimTypeRequired>
       <!--THE ONLY Two Claims required at the moment are Name and NameIdentifier -->
        <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="false"/>
        <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" optional="false" />
        <claimType type="http://schemas.microsoft.com/accesscontrolservice/2010/07/claims/identityprovider" optional="true" />

      </claimTypeRequired>
    </applicationService>
    <certificateValidation certificateValidationMode="None"/>
    <issuerNameRegistry
      type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <trustedIssuers>
        <add thumbprint="8B12A2486021B956AA7C8A8BD7BBA02426914465" name="http://FEIREMADFS01.fei.local/adfs/services/trust" />
        <add thumbprint="8F709C169F075BDB2B7301C5084900A951599D55" name="http://rem-auth.feisystems.com/adfs/services/trust" />
        <add thumbprint="680C0E62CD69F2B391026C8D4E4AB08751D3EB56" name="http://csanchezpc2.fei.local/idsrv/trust/local" />
        <add thumbprint="31C17F1B00CC07429D0F8E67C879FC2E8443936C" name="https://obhita.accesscontrol.windows.net/" />
        <add thumbprint="C8E8269843CF3D7102480C8E366D53E13C070080" name="https://identityserver.rem.local/IdSrv-QA/issue/wsfed" />
      </trustedIssuers>
    </issuerNameRegistry>
  </service>
</microsoft.identityModel>
