<microsoft.identityModel>
  <service>
    <audienceUris>
      <add value="https://csanchezpc.feinfo.com/Rem.Web/" />
    </audienceUris>
    <applicationService>
      <claimTypeRequired>
        <!--Following are the claims offered by STS 'http://FEIREMADFS01.fei.local/adfs/services/trust'. Add or uncomment claims that you require by your application and then update the federation metadata of this application.-->
        <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="true" />
        <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="true" />
        <!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" optional="true" />-->
        <!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" optional="true" />-->
        <!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" optional="true" />-->
        <!--<claimType type="http://schemas.xmlsoap.org/claims/CommonName" optional="true" />-->
        <!--<claimType type="http://schemas.xmlsoap.org/claims/EmailAddress" optional="true" />-->
        <!--<claimType type="http://schemas.xmlsoap.org/claims/Group" optional="true" />-->
        <!--<claimType type="http://schemas.xmlsoap.org/claims/UPN" optional="true" />-->
        <!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" optional="true" />-->
        <!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/privatepersonalidentifier" optional="true" />-->
        <!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" optional="true" />-->
        <!--<claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/authenticationinstant" optional="true" />-->
        <!--<claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/authenticationmethod" optional="true" />-->
        <!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/denyonlysid" optional="true" />-->
        <!--<claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/denyonlyprimarysid" optional="true" />-->
        <!--<claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/denyonlyprimarygroupsid" optional="true" />-->
        <!--<claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/groupsid" optional="true" />-->
        <!--<claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/primarygroupsid" optional="true" />-->
        <!--<claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/primarysid" optional="true" />-->
        <!--<claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname" optional="true" />-->
      </claimTypeRequired>
    </applicationService>
    <federatedAuthentication>
      <wsFederation passiveRedirectEnabled="true"
                    issuer="https://feiremadfs01.fei.local/adfs/ls/"
                    realm="https://csanchezpc.feinfo.com/Rem.Web/"
                    requireHttps="true" />
      <cookieHandler requireSsl="true" />
    </federatedAuthentication>
    <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <trustedIssuers>
        <add thumbprint="8B12A2486021B956AA7C8A8BD7BBA02426914465" name="http://FEIREMADFS01.fei.local/adfs/services/trust" />
      </trustedIssuers>
    </issuerNameRegistry>
    <certificateValidation certificateValidationMode="None" />
  </service>
</microsoft.identityModel>
