<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler, NHibernate.Caches.SysCache" />
  </configSections>

  <!-- 1. In order to configure remote endpoints use the format: "queue@machine" 
       2. Input queue must be on the same machine as the process feeding off of it.
       3. The community edition doesn't support more than one worker thread.
       4. The default NumberOfWorkerThreads is 1 and and the default MaxRetries is 5.
  -->

  <!--<MsmqTransportConfig
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />-->

  <!-- 1. Error queue can (and often should) be on a different machine.
  -->

  <MessageForwardingInCaseOfFaultConfig
    ErrorQueue="RemServerErrorQueue"
  />

  <!--<UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Rem.Domain.ClinicalBilling.ContextMap" Endpoint="RemPublisherInputQueue" />
    </MessageEndpointMappings>
  </UnicastBusConfig>-->

  <Logging Threshold="INFO" />

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Log4Net" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings file="Configuration/dev.settings.config" />

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="File" value="..\logs\RemApplication.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] [%x] %-5p %c - %m%n" />
      </layout>
    </appender>
    
    <!--<appender name="DiagnosticsDebugAppender" type="Rem.Infrastructure.Log4NetDebugAppender,Rem.Infrastructure">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] [%x] %-5p %c - %m%n" />
      </layout>
    </appender>-->

    <!-- Setup the root category, add the appenders and set the default priority -->
    <!-- Loggers may be assigned levels. The following levels are defined in order of increasing priority:  -->
    <!-- ALL  -->
    <!-- DEBUG  -->
    <!-- INFO  -->
    <!-- WARN  -->
    <!-- ERROR  -->
    <!-- FATAL  -->
    <!-- OFF  -->
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="DiagnosticsDebugAppender" />-->
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <logger name="NHibernate">
      <level value="OFF" />
    </logger>
  </log4net>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <syscache>
    <cache region="LookupRegion" expiration="36000" priority="5" />
    <cache region="CacheAttributeRegion" expiration="3600" priority="3" />
  </syscache>
  
</configuration>