<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- make sure to set 'Copy To Output Directory' option for this file -->
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

    <targets>
        <target name="AsyncLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
            <target xsi:type="File"
                keepFileOpen="false"
                encoding="iso-8859-2"
                layout="${longdate} - ${threadid} - ${level} - ${logger}- ${message}"
                createDirs="true"
                fileName="${basedir}/logs/RemServerApplication${shortdate}.log" />
        </target>

        <target name="AsyncPerfLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
            <target xsi:type="File"
                keepFileOpen="false"
                encoding="iso-8859-2"
                layout="${longdate} - ${logger} - ${message}"
                createDirs="true"
                fileName="${basedir}/logs/RemPerformanceServerApplication${shortdate}.log" />
        </target>

        <target xsi:type="Trace"
                name="DiagnosticsDebug"
                layout="${longdate} - ${logger} - ${message}" />
    </targets>

    <rules>
        <logger name="WebServicePerformance" minlevel="Debug" writeTo="AsyncPerfLogFile"/>
        <logger name="WCF.Messages" final="true"/>
        <logger name="*" minlevel="Debug" writeTo="AsyncLogFile,DiagnosticsDebug" />
    </rules>
</nlog>
