<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- shortcut the scanning process to find the type which implements IConfigureThisEndpoint. -->
    <!--<add key="EndpointConfigurationType" value="YourNamespace.YourTypeName, YourAssembly"/>-->
  </appSettings>
</configuration>