<microsoft.identityModel>
  <service>
      <claimsAuthenticationManager type="Rem.Infrastructure.Security.ClaimsAuthenticationManager, Rem.Infrastructure"/>
      <audienceUris>
      <add value="https://rem-demo.feisystems.com/" />
    </audienceUris>
    <applicationService>
      <claimTypeRequired>
        <!--Following are the claims offered by STS 'http://FEIREMADFS01.fei.local/adfs/services/trust'. Add or uncomment claims that you require by your application and then update the federation metadata of this application.-->
        <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="true" />
        <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="true" />

      </claimTypeRequired>
    </applicationService>
    <federatedAuthentication>
      <wsFederation passiveRedirectEnabled="true"
                    issuer="https://rem-auth.feisystems.com/adfs/ls/"
                    realm="https://rem-demo.feisystems.com/"
                    requireHttps="true" />
      <cookieHandler requireSsl="true" />
    </federatedAuthentication>
    <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <trustedIssuers>
            <add thumbprint="8F709C169F075BDB2B7301C5084900A951599D55" name="http://rem-auth.feisystems.com/adfs/services/trust" />
      </trustedIssuers>
    </issuerNameRegistry>
    <certificateValidation certificateValidationMode="None" />
  </service>
</microsoft.identityModel>
