<microsoft.identityModel>
  <service>
    <claimsAuthenticationManager type="Rem.Infrastructure.Security.ClaimsAuthenticationManager, Rem.Infrastructure"/>
  
    <audienceUris>
      <add value="https://localhost/Rem.Web/"/>
      <add value="https://localhost/Rem.Mvc/"/>
      <add value="https://csanchezpc2.fei.local/Rem.Web/"/>
    </audienceUris>
    <!-- USE THIS CONFIGURATION WHEN WANTING THE LOCAL STS TO BE THE DEFAULT ISSUER/Identity Server-->
    <!--<federatedAuthentication>
      <wsFederation    
        passiveRedirectEnabled="true"
                    issuer="https://localhost/Rem.Web.LocalSTS"
                    issuer="https://csanchezpc2.fei.local/IdSvr/issue/wsfed" 
                    issuer="https://rem-auth.feisystems.com/adfs/ls/"
                    
                    realm="https://localhost/Rem.Web/"
                    realm="https://csanchezpc2.fei.local/Rem.Web/" 
                    requireHttps="true"/>
      <cookieHandler requireSsl="true"/>
    </federatedAuthentication>-->

    <federatedAuthentication>
      <wsFederation passiveRedirectEnabled="true" 
                      issuer="https://localhost/Rem.Web.LocalSTS"
                      realm="https://localhost/Rem.Web/"
                    
                    requireHttps="true" />
      <cookieHandler requireSsl="true" path="/" />
    </federatedAuthentication>
    <applicationService>
      <certificateValidation certificateValidationMode="None" />
      <claimTypeRequired>
        <!--THE ONLY Two Claims required at the moment are Name and NameIdentifier -->
        <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="false"/>
        <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" optional="false" />
        <claimType type="http://schemas.microsoft.com/accesscontrolservice/2010/07/claims/identityprovider" optional="true" />
      </claimTypeRequired>
    </applicationService>
    <issuerNameRegistry
      type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <trustedIssuers>
         <add thumbprint="8B12A2486021B956AA7C8A8BD7BBA02426914465" name="http://FEIREMADFS01.fei.local/adfs/services/trust" />
        <add thumbprint="8F709C169F075BDB2B7301C5084900A951599D55" name="http://rem-auth.feisystems.com/adfs/services/trust" />
       <add thumbprint="680C0E62CD69F2B391026C8D4E4AB08751D3EB56" name="http://csanchezpc2.fei.local/idsrv/trust/local" />
        <add thumbprint="31C17F1B00CC07429D0F8E67C879FC2E8443936C" name="https://obhita.accesscontrol.windows.net/" />
        <add thumbprint="40A1D2622BFBDAC80A38858AD8001E094547369B"  name="https://localhost/Rem.Web.LocalSTS" />
      </trustedIssuers>
    </issuerNameRegistry>
  </service>

</microsoft.identityModel>

