<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="codegenpath" value="c:\temp\excel2code"/>
    <add key="excelfilepath" value="C:\Users\bill.bassler\Desktop\GAIN SS\GainShortScreenerDomainModelElements.xlsx"/>
    <add key="domainnamespaceprefix" value="Rem.Domain."/>
    <add key="agathahandlernamespace" value="Rem.Ria.PatientModule.Web.GainShortScreener"/>
    <add key="fullyqualifiedaggregateroot" value="Rem.Domain.GainShortScreenerModule.GainShortScreener"/>
    <add key="nonresponsetypemapper" value="GpraNonResponseTypeMapper"/>
    <add key="dataelementssheetname" value="Business Data Elements"/>
    <add key="lookupssheetname" value="Lookups"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
