<div class="div-table-noborder" style="margin: auto 5px">
    <div class="div-table-row">
        <div id="staffname" class="div-table-col-noborder">@ViewBag.StaffContext.FullName</div>
    </div>
    <div class="div-table-row">
        <div id="agencyname" class="div-table-col-noborder">@ViewBag.AgencyContext.DisplayName</div>
        <div id="location" class="div-table-col-noborder">@ViewBag.LocationContext.DisplayName</div>
    </div>
</div>
